
.left{
	float: left;
}
#mg-left{
	margin-left: 7%;
}
input{
	color: red;
    border-style: double;
    width: 500px;
    height: 30px;
    margin-top: 15px;
	
}
.btn1{
	border: none;
	padding:8px 20px 11px 20px;
    background-color: red;
	margin-left: -5px;
	
	
}
#font{
	font-size: 12px;
	color: black;
	margin-left: 5px;
    font-family: 'simSum';
}
#c_white{
	color: white;
	font-size: 13px;
}
.mg-top{
	padding-top: 16px;
	margin-left: 50px;
}
.mg-top2{
	
	padding-top: 16px;
	
}
.font_2{
	font-size: 1em;
	margin-left: 8px;
	color:gray;
	position: absolute;
}
#distance{
	margin-left: 20px;
}
#font3{
	color: red;
}
.font4{
	color: red;
}
.parent{
	display: block;
	min-width: 1366px;
	position: absolute;
}
 .parent>div{
	 float: left;
	display: inline;
}
a{
	border: none;
	text-decoration: none;
}
.ds a:hover span{
	color: red;
}